#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}







/* .read-the-docs {
  color: #888;
} */

#addbutton:hover {
  background-color: green;
}
#subbutton:hover {
  background-color: red;
}
#resetbutton:hover {
  background-color: peachpuff;
}
#div {
  text-align: center;
}

#buttons{
  display :flex;
  justify-content: center;
  padding: 20px;
}

#addbutton{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* background-color: green; */
  color: white;
  font-size: 20px;
  border: none;
}

#subbutton{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* background-color: red; */
  color: white;
  font-size: 20px;
  border: none;
}

#resetbutton{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* background-color: peachpuff; */
  color: white;
  font-size: 20px;
  border: none;
}

